html {
  background-color: black;

  height: 100vh;
  overflow: clip;

  /* animation: 10s cubic-bezier(.25, 1, .30, 1) background forwards; */
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  overflow: clip;
}

#html {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  animation: kenburns-bottom 50s ease-in-out infinite;
  z-index: -1;
  position: fixed;

}

#Donttouch {
  align-items: center;
  animation: 1s cubic-bezier(.25, 1, .30, 1) window forwards;
  width: 70%;
  height: 70%;
  margin-top: 1%;
  overflow: visible;
}

/* Smol screens styling here */
@media only screen and (max-width: 600px), (orientation: portrait) {
  #Donttouch {
    width: 100%;
    height: 76%;
    margin-top: 2%;
  }

  #nav {
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    padding: 0;
  }

  #nav div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #nav div img {
    margin-top: 50vh;
    margin-bottom: 10vh;
    height: 100vh;
    width: 90vw;
  }
  #middleIcons {
    width: 80%;
  }

  #searchbar {
    width: 90vw;
  }
  .links {
    margin-bottom: 5vh;
  }
}
/* Smol screen responsive styles end here */

p,
h1,
h2 {
  margin: 0;
}
#tabs {
  height:30px;
  display:flex;
  justify-content: space-between;
  background-color: rgba(2, 2, 2, 0.70);
  width:100%;
}
#box {
  height: 100%;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
  display: flex;
  justify-content: flex-start;
  line-height: 200%;
  padding-left: 3%;
  width: 20%;

}
#top-rightIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding:5px;
}
#topbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;

}

.thingy {
  backdrop-filter: blur(16px);
  margin: 0;
  width: 100%;
  background-color: rgba(42, 42, 42, 0.70)
  /* background-color: #2B2D31; */

}

#page {
  height: 100%;
  background-color: rgba(2, 2, 2, 0.70);
  /* background-color: rgba(46, 48, 53, 1); */
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* box-shadow: 5px 10px 50px black; */
  border-bottom-left-radius: 1%;
  border-bottom-right-radius: 1%;
  animation: 4s ease blurin forwards;
  animation-delay: 0.5s;
  z-index: 0;
  /* border:0.03px solid rgba(46, 48, 53, 1);
  border-top: 0px; */

}

#searchbar {
  background-color: rgba(15, 15, 10, 0.30);
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 200;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  width: 90%;
  opacity: 1;
  padding-left: 14px;
  cursor: text;
  letter-spacing: 2px;
  overflow: hidden;
}

i:nth-child(-n+2) {
  margin-left: 5px;
}

i:nth-child(3) {
  margin-left: 10px;
}


i {
  cursor: pointer;
}

.gg-menu {
  margin-right: 10px;
}

.gg-menu:hover {
  animation: rotate 1s cubic-bezier(.35, .16, .58, 1.08) infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.links {
  font-weight: 600;
  font-size: 25px;
  color: white;
  text-decoration: none;

}

.topIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#middleIcons {
  width: 60%;
  display: flex;
  justify-content: flex-start;
}


#page {
  overflow: clip;
}
*::-webkit-scrollbar {
  display: none;
}

/* .hidden is important for the sections */
.hidden {
  display: none;
}

hr {
  width: 30%;
  display: block;
  height: 1px;
  border: none;
  background-color: white;
  margin: 0;
  padding: 0;
}
/* Nav section */

#nav {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  padding: 2% 2%;
  overflow: scroll;
}
#nav div:nth-child(2) * {
  margin-bottom: 3vh;
}
#nav div:nth-child(1) {
  margin-bottom: 2%;
  width: 40vw;
}

#nav div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 2px;
  line-height: 200%;
  animation: slide-right 1s ease forwards;
  animation-delay:0.3s;
  opacity: 0%;
  align-items: right;
  text-align: right;
}
#nav div:nth-child(2) div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: right;
}
#nav div img {
  animation: slide-left 1s ease forwards;
  animation-delay:0.3s;
  opacity: 0%;
}
.rightside {
  display: flex;
  justify-content: flex-end;
}
.links:hover {
  text-decoration: dotted;
}
/* Skills section */
#skills {
  height: 100%;
}

/* Fixes the blue whenever I add anchor tag */
.white {
  color: white;
}

/* Taskbar */
#taskbar {
  height: 60px;
  width: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  background-color: rgba(100, 100, 100, 0.05);
  animation: slide-up 1s forwards;
  align-items: center;

}

#taskbarIcons {
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4%;
  padding: 1% 4%;


}

#taskbarIcons1 {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Taskbar Icons */
.icons {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
}

#taskbarIcons .taskbarIcons1:nth-child(1) .icons {
  background-image: url('assets/icons/files.png');
  animation: slide-up-down 0.5s ease forwards;
  animation-delay: 0.5s;
}

/* 
#taskbarIcons .taskbarIcons1:nth-child(5) .icons {
  background-image: url('assets/icons/files.png');
  animation: slide-up-down 2.0s cubic-bezier(.17,.67,.63,.61) forwards;
} */
#taskbarIcons .taskbarIcons1:nth-child(2) .icons {
  background-image: url('assets/icons/firefox.png');
  animation: slide-up-down 0.5s ease forwards;
  animation-delay: 0.6s;
}

#taskbarIcons .taskbarIcons1:nth-child(3) .icons {
  background-image: url('assets/icons/minecraft.png');
  animation: slide-up-down 0.5s ease forwards;
  animation-delay: 0.7s;
}

#taskbarIcons .taskbarIcons1:nth-child(4) .icons {
  background-image: url('assets/icons/setting.png');
  animation: slide-up-down 0.5s ease forwards;
  animation-delay: 0.8s;
}

/* Hover animations */
/* #taskbarIcons .taskbarIcons1:hover {
  animation: slide-up-down 1s cubic-bezier(.35, .16, .58, 1.08) infinite;
}
 */
img {
  height: 95%;
  width: 75%;
}

/* Key frames */
@keyframes window {
  0% {
    transform: scale(0%);

  }

  100% {
    transform: scale(100%);

  }
}

@keyframes blurin {
  0% {
    box-shadow: 0px 0px 0px #1f1f1f;
  }

  100% {
    box-shadow: 0px 10px 60px black;
  }
}


@keyframes slide-right {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50%) scale(10%);
    opacity: 0;

  }

  100% {
    transform: translateY(0) scale(100%);
    opacity: 1;
  }
}

@keyframes slide-up-down {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-50%);
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes kenburns-bottom {
  0% {
    transform: scale(1);
    opacity: 0%;
  }
  5% {
    opacity: 100%;
  }
  98% {
    opacity: 100%;
  }
  100% {
    transform: scale(1.25);
    opacity: 0%;
  }
}
