#html {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* animation: 10s cubic-bezier(.25, 1, .30, 1) background forwards; */
  overflow: clip;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  font-family: 'Ubuntu', sans-serif;

  height: 100%;
}

#Donttouch {
  align-items: center;
  animation: 1s cubic-bezier(.25, 1, .30, 1) window forwards;
  width: 70%;
  height: 70%;
  margin-top: 1%;
}

p,
h1,
h2 {
  margin: 0;
}

#box {
  height: 30px;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
  display: flex;
  justify-content: flex-start;
  line-height: 200%;
  padding-left: 3%;
  width: 20%;

}

#topbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.thingy {
  backdrop-filter: blur(8px);
  margin: 0;
  width: 100%;
  background-color: rgba(30, 31, 34, 0.35);

}

#page {
  height: 100%;
  background-color: rgba(30, 31, 34, 0.75);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* box-shadow: 5px 10px 50px black; */
  border-bottom-left-radius: 1%;
  border-bottom-right-radius: 1%;
  animation: 10s cubic-bezier(.25, 1, .30, 1) blurin forwards;
}

#searchbar {
  background-color: rgba(15, 15, 10, 0.30);
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 200;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  width: 90%;
  opacity: 1;
  padding-left: 14px;
  cursor: text;
  margin-right: 50px;
  letter-spacing: 2px;
}

i:nth-child(-n+2) {
  margin-left: 5px;
}

i:nth-child(3) {
  margin-left: 10px;
}

#last-icon {
  margin-left: 50px;
}

i {
  cursor: pointer;
}

.gg-menu {
  margin-right: 10px;
}

.gg-menu:hover {
  animation: rotate 1s cubic-bezier(.35, .16, .58, 1.08) infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.links {
  font-weight: 600;
  font-size: 40px;
  color: white;
  text-decoration: none;

}

.topIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#middleIcons {
  width: 60%;
}

@keyframes window {
  0% {
    transform: scale(0%);

  }

  100% {
    transform: scale(100%);

  }
}

@keyframes blurin {
  0% {
    box-shadow: 0px 0px 0px black;
  }

  100% {
    box-shadow: 5px 10px 50px black;
  }
}

@keyframes background {
  0% {
    transform: scale(100%);
  }

  100% {
    transform: scale(99%);

  }
}

button {
  height: 50px;
  width: 50px;
}

.hidden {
  display: none;

}

#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#skills {
  height: 100%;
}
.white {
  color:white;
}
#taskbar {
  height:7%;
  width:20%;
  margin-top: 4%;
  margin-bottom:1%;
  border-radius:10px;
  
}
#taskbarIcons {
  height:80%;
  display:flex;
  padding: 1% 2%;
  justify-content: space-evenly;
}
#active {
  background-color: rgba(70, 70, 70, 0.35);
  
}